- content_for :title do
  User Profile

- if @user
  %div
    %strong Name:
    = @user.name
  %div
    %strong E-mail:
    = @user.email
  %div [ #{ link_to 'Edit', edit_user_path(@user) } ]
- else
  User not found.

-# jl
